/* Aadil Chasmawala , June 2024 */

/* Reset CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section{
    height:100vh;

}

/* styles for header*/
.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    position:fixed;
    width:100%;
    z-index: 9999;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.header-buttons button {
    padding: 10px 20px;
    background-color: white;
    color: #4CAF50;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
}

.header-buttons button:hover {
    background-color: #45a049;
    color: white;
}

/* styles for main */
main {
    flex: 1;
    padding: 20px;
    margin-top:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styles for video-container, video and choices */
#video-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


video {
    width: 100%;
    height: auto;
}

#choices,#choices2,#choices3 {
    justify-content: center;
    margin-top: 10px;
}

#choices button, #choices2 button , #choices3 button{
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#choices button:hover, #choices2 button:hover , #choices3 button:hover{
    background-color: #45a049;
}

#choices h2, #choices2 h2, #choices3 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/*styles for horizontal rule*/
hr {
    background-color: rgb(217, 248, 215); /* Sets the color to white */
    width: 100%; /* Sets the width to 100% */
    height: 10px; /* Sets the height to 10px */
    border: none; /* Removes the default border */
    z-index: 9998; /* Sets the z-index, useful if position is specified */
    position: relative; /* Ensures the z-index works correctly */
    overflow:hidden;
}


/* styles for about section */

#about {
    width: 100%;
    max-width: 800px;
    margin-top: 40px;
}

#aboutFilm {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Darker color for the heading */
}

#aboutParagraph {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555; /* Slightly lighter color for the paragraph text */
    max-width: 800px; /* Limit the width for better readability */
    margin: 0 auto; /* Center align the paragraph */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* White background for the paragraph */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

/* styles for footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

/*More styles for footer*/
.email-links a {
    margin-right: 15px; /* Add space between email addresses */
    text-decoration: none; 
    color: green; 
    display: inline-flex; /* Align icon and text horizontally */
    align-items: center; /* Center-align icon with text */
}

.email-links a i {
    margin-right: 5px; /* Space between icon and email address */
}

.email-links a:last-child {
    margin-right: 0; /* Remove margin for the last email address */
}

#credits {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    border-radius:10px;
}

/* Additional styles */
.hidden {
    display: none;
}


